@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    scroll-behavior: smooth;
  }
  ::selection {
    background-color: #52796f;
    color: #cad2c5;
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
